html, body {

    font-family: "Comic Sans MS", "Comic Sans", cursive;
    height: 100%;
}

a {
    text-decoration: none;
}

#header-container {
    background-color: #212121;
    color: red;
}

#loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-icon {
    height: 120px;
}

#settings-form-container {
    width: 600px;
    border: 5px;
    border-style:solid;
    border-color:#1200af;
    padding: 1em;
    margin: 10em auto;
    align-content: center;
    text-align: center;
}

#phoneInput,#phoneBtn {
    margin: 1em;
}
.color-button {
    padding: 1em;
    margin: 1em;
}