.h1 {
  color:  green;
}

html, body {

    font-family: "Comic Sans MS", "Comic Sans", cursive;
    height: 100%;
}

#header-container {
    background-color: #212121;
}

#loading {
    padding: 80px;
}

#loading-icon {
    height: 120px;
}