.h1 {
  color:  green;
}

html, body {

    font-family: "Comic Sans MS", "Comic Sans", cursive;
    height: 100%;
}

#header-container {
    background-color: #212121;
}

#loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-icon {
    height: 120px;
}

#login-form-container {

    height: 100%
}